# Database Configuration
MONGODB_URI=mongodb+srv://blackholeinfiverse54_db_user:Gjpl998Z6hsQLjJF@artha.rzneis7.mongodb.net/?appName=Artha


REDIS_HOST=redis-17252.c265.us-east-1-2.ec2.cloud.redislabs.com
REDIS_PORT=17252
REDIS_PASSWORD=gK22JxYlv9HCpBBuNWpizNT1YjBOOoAD
REDIS_USERNAME=default


# AI Service API Keys (Optional - agents work with mock data if not set)
OPENAI_API_KEY=
GROQ_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_AI_API_KEY=

# External API URLs (Optional - agents use mock data if not set)
FINANCIAL_COORDINATOR_API_URL=
GURUKUL_TREND_API=
GURUKUL_ANOMALY_API=
GURUKUL_FEEDBACK_API=

# Server Configuration
FASTAPI_PORT=8000
#MONGODB_URI=mongodb+srv://blackholeinfiverse48_Gurkuldb_user:blackholeinfiverse48@cluster0.7q4gp40.mongodb.net/ai_integration